<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Personas</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>EMAIL</th>
            <th>MUSICA</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios" class="text-center">
            <td>{{usuario.id}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.musica}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>