<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Agregar Personas</h3>
    </div>
    <div class="card-body">
 
		 <form action="">
			<div class="form-group">
				<label for="">Email</label>
				<input [(ngModel)]="usuario.email" id="email" name="email" type="text" class="form-control"   required minlength="4" appForbiddenName="bob"
						 #name="ngModel">
						 
				<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">

					<div *ngIf="name.errors?.required">
						Email es Requerido.
					</div>
					<div *ngIf="name.errors?.minlength">
						Email debe tener mas de 4 caracteres.
					</div>
					<div *ngIf="name.errors?.forbiddenName">
						Email no puede ser Bob.
					</div>

				</div>

						 
						 
				</div>
					<div class="form-group">
					<label for="">Tipo de musica</label>
					<input [(ngModel)]="usuario.musica" name="musica" type="text" class="form-control">
				</div>
				
			

			<button style="margin-top: 20px;"   data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger">Guardar</button>
		 </form>
    </div>
  </div>
</div>





  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Finalizaste la encuesta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Por favor si esta seguro de lo que escribio en el formulario presione el boton Confirmar	  
        </div>
        <div class="modal-footer">
          <button type="button" (click)="Guardar()" class="btn btn-secondary" data-bs-dismiss="modal">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

